{% include 'items/profile_bar.html' %}
<!--<form action="{% url 'items:checkout' %}" method="POST"> -->
	{% csrf_token %}
	<fieldset>
	    <legend>
		<h1>{{ category.item_name }}</h1>
	    </legend>
	    {% for item in category.item_set.all %}
	    <p>{{ item.item_name }} ({{ item.price }})
	    {% if item.count %}
	    <a href="/sklapp/add_to_cart/{{category.id}}/{{item.id}}"><button>add to cart</button></a>
	    {% else %}
	    <!--<a href="/sklapp/add_to_cart/{{category.id}}/{{item.id}}"><button>add to cart</button></a>-->
	    <input type="button" value="add to cart" disabled/>
	    {% endif %}
	    </p>

		<br/>
	    {% endfor %}
	</fieldset>
	<!--<input type="submit" value="order">
	</form>-->
{% if error_message %}
<p>
    <strong>
	    {{ error_message }}
    </strong>
</p>
{% endif %}
