<head>
    <title>Your profile</title>
    <style>
	header {text-align:center;}
    </style>
</head>
<body>
    {% include 'items/profile_bar.html' %}
    <div style="float:left; width:50%">
	<h2>items:</h2>
	<ol>
	    {% for item in items %}
	    <li>{{item.item_name}} ({{item.category}})</li>
	    {% endfor %}
	</ol>
    </div>
    <div style="float:left; width:50%">
	<h2>orders:</h2>
	<ol>
	    {% for order in orders %}
	    <li>{{ order.item_name }} - {{ order.purchase_date }}</li>
	    {% endfor %}
	</ol>
    </div>
</body>
