<style>
input {background: #066;}
a {text-decoration: none;color:#660;}
header {text-align:center;}
</style>
<header>
<a href="/sklapp/">Shop</a>
<p>
<a href="/sklapp/profile/">{{usname}} </a>
    <a href="/sklapp/change_password/">
	<input type="button" value="new password">
    </a>

    <a href="/sklapp/add_item/">
	<input type="button" value="add item">
    </a>
<!--
    <a href="/sklapp/checkout/">
	<input type="button" value="order">
    </a>
-->
    <input type="button" value="cart" id="cart" onclick="f()"/>
    <a href="/sklapp/logout/">
	<input type="button" value="logout">
	
    </a>
    <div id="place_for_cart">
    </div>
    
</p>
</header>
<script>
function f(n=1) {
    var text = ""
    var elem = document.getElementById('place_for_cart');
    if (n==1) {
	text = `{% include 'items/cart.html'%}`;
	text = text.split(/\r?\n/).join(' ');
	document.getElementById('cart').setAttribute('onclick', "f(0)");
    } else {
	document.getElementById('cart').setAttribute('onclick', "f()");

    }
elem.innerHTML = text;
}


</script>
